In [126]:
import pandas as pd
df = pd.read_excel("002-allJuly-alloc.xlsx")
#df.head()

df_group = df.groupby(['Invoice Number', 'Department Long Descr', 'SUB_DEPARTMENT'])
type(df_group)
df_group.ngroups
df_group.size()
df_group.groups
#for inv in df_group:
#    if inv[2] == 'ASC':
#        print(inv)
#z = df_group['Gross Wages'].sum()
#z
#for inv in z:
#    print(inv)
#if z['Invoice Number'] == 5909273:
#    print(z['Department Long Descr'])

Invoice Number  Department Long Descr  SUB_DEPARTMENT
0               0                      0                  2
5875656         IT                     HQ                 1
5885919         MA                     Clinical           1
5886339         Lab Staff              Lab                1
5888245         Call Center            HQ                 3
                                                         ..
5909273         Patient Navigator      Clinical          28
                Revenue Cycle          HQ                13
                Tissue Bank            Lab                5
                                       Operating          5
5909595         MA                     Clinical           1
Length: 79, dtype: int64

In [156]:
import pandas as pd
df = pd.read_excel("002-allJuly-alloc.xlsx")
#df.head()

df_group = df.groupby(['Invoice Number', 'Department Long Descr', 'SUB_DEPARTMENT'])
type(df_group)
df_group.ngroups
df_group.size()
df_group.groups
for name, r in df_group:
    
    print(r['Gross Wages'])
    
#    if inv[2] == 'HQ':
#        print(inv)
#z = df_group['Gross Wages'].sum()
#z
#for inv in z:
#    print(inv)
#if z['Invoice Number'] == 5909273:
#    print(z['Department Long Descr'])

390    0.0
391    0.0
Name: Gross Wages, dtype: float64
165    0.0
Name: Gross Wages, dtype: float64
28    2593.5
Name: Gross Wages, dtype: float64
356    6190.5
Name: Gross Wages, dtype: float64
567    913.92
568    887.04
569    887.04
Name: Gross Wages, dtype: float64
0         0.0
131    3162.0
Name: Gross Wages, dtype: float64
392    329.0625
393    329.0625
394    329.0625
395    329.0625
Name: Gross Wages, dtype: float64
33    0.0
Name: Gross Wages, dtype: float64
212    0.0
Name: Gross Wages, dtype: float64
275    0.0
Name: Gross Wages, dtype: float64
46    1920.0
Name: Gross Wages, dtype: float64
334    920.0
Name: Gross Wages, dtype: float64
177    3333.3300
483     594.3200
484     576.8400
485     576.8400
486     688.1600
487     667.9200
488     667.9200
489     893.1120
490     866.8440
491     866.8440
492    1430.8322
493    1388.7489
494    1388.7489
495     713.5920
496     692.6040
497     692.6040
498     935.6120
499     908.0940
500     908.0940
501     563.0400
502     546.4800
503     546.4800
504     863.1920
505     837.8040
506     837.8040
507     686.2050
508     666.0225
509     666.0225
510     416.1600
511     403.9200
512     403.9200
513     544.0000
514     528.0000
515     528.0000
516     166.4300
517     161.5350
518     161.5350
519     508.6400
520     493.6800
521     493.6800
Name: Gross Wages, dtype: float64
550    748.000
551    726.000
552    726.000
553    863.192
554    837.804
555    837.804
Name: Gross Wages, dtype: float64
93     11458.33
338    10025.16
Name: Gross Wages, dtype: float64
20     3125.00
84     7083.33
109    2765.00
149    1342.50
198    2625.00
215    2571.79
322    2583.33
365    5272.44
386    3750.00
Name: Gross Wages, dtype: float64
86     4076.92
88     1890.00
134    3520.83
182    2400.00
221    3333.33
225    3041.67
298    1971.15
308      85.53
Name: Gross Wages, dtype: float64
42     2920.00
120    5478.49
166    3276.00
241    3274.50
273    6365.38
Name: Gross Wages, dtype: float64
10    2949.5
Name: Gross Wages, dtype: float64
4       2014.68
14      2833.33
18      6357.82
29      8841.84
36      6232.82
60      6866.67
66      7455.13
92       422.59
122     4985.31
132     2015.98
147     3541.67
155     7083.33
157     5131.61
172     1564.49
175     1772.73
184      595.96
192     3164.07
194     2935.18
200     6866.67
202     8300.17
227     7345.08
237     1913.65
239     1434.19
247     3293.94
251     8823.71
257     2049.72
271     4066.75
286     4538.46
294     1971.59
296     3377.67
300     2500.00
316     7083.33
350    11825.25
361    25833.33
380     6866.67
388     5000.00
Name: Gross Wages, dtype: float64
372    11458.33
Name: Gross Wages, dtype: float64
8      2244.00
54     2380.50
74     2505.64
129    2474.00
204    2496.00
259    1621.85
263    2236.00
304    1956.24
Name: Gross Wages, dtype: float64
12     1977.50
26     2106.25
34     2288.00
38     2368.00
52     2035.14
64     1872.00
97     2573.00
99     2833.33
103    1919.00
116    2262.00
125    1874.22
127    2181.28
143    2426.00
145    2354.50
151    1632.00
159    2302.75
188    1632.00
190    2809.50
223    2477.00
253    1804.13
278    2288.00
280    2200.00
284    2281.50
288    2179.00
290    2150.00
326    2061.00
328    2359.50
340    2237.63
346    2237.50
363    1313.00
369    2387.00
376    2757.50
Name: Gross Wages, dtype: float64
81     6875.00
107    5419.53
348    3750.00
382    2604.17
Name: Gross Wages, dtype: float64
213    3458.33
330    4250.00
Name: Gross Wages, dtype: float64
522    515.25
523    515.25
524    515.25
525    515.25
526    368.00
527    368.00
528    368.00
529    368.00
530    451.00
531    451.00
532    451.00
533    451.00
534    427.25
535    427.25
536    427.25
537    427.25
538    301.31
539    301.31
540    301.31
541    301.31
542    353.77
543    353.77
544    353.77
545    353.77
Name: Gross Wages, dtype: float64
48    3333.33
Name: Gross Wages, dtype: float64
16     2413.00
161    2436.35
344    3160.38
Name: Gross Wages, dtype: float64
31    3041.67
Name: Gross Wages, dtype: float64
560    1162.5
561    1162.5
Name: Gross Wages, dtype: float64
24     1524.00
44     2318.00
70     2175.00
136    2288.00
141    1914.75
163    2621.00
170    2921.95
208    2173.50
249    5375.00
312    2275.00
318    1965.00
324    2708.33
352    1449.00
367    1717.85
Name: Gross Wages, dtype: float64
62    1325.0
Name: Gross Wages, dtype: float64
217    2098.8
Name: Gross Wages, dtype: float64
314    3333.33
546     410.00
547     410.00
548     410.00
549     410.00
Name: Gross Wages, dtype: float64
562    1241.82675
563    1241.82675
564    1241.82675
565    1241.82675
566     551.92300
Name: Gross Wages, dtype: float64
101     564.10
229    3458.33
320    2679.56
359    2933.20
374    5945.52
378    4112.50
Name: Gross Wages, dtype: float64
6      2589.00
50      507.50
58     3225.33
68     2785.00
77     1664.00
79     3124.00
90     2288.00
105    3080.00
111    3765.00
118    3360.00
153    3142.50
168     715.40
180    2205.00
186    3168.00
210    3576.29
219    3360.00
231    1469.00
233    2607.50
243    2406.50
267    2800.00
282    2592.00
292    1960.00
302    1997.00
306    2754.40
332    2560.00
336    1862.50
342    3124.00
384    3080.00
Name: Gross Wages, dtype: float64
22     2717.95
56     2160.40
72     3608.00
95     2320.08
114    1658.68
138    2413.14
196    1925.00
206    2861.46
245    2194.04
255    2024.00
310    2384.80
354    3025.64
357    3750.00
Name: Gross Wages, dtype: float64
40     2258.12
235    2136.24
261    2009.96
269    1889.00
276    2083.40
Name: Gross Wages, dtype: float64
265    2237.0000
556     989.5825
557     989.5825
558     989.5825
559     989.5825
Name: Gross Wages, dtype: float64
1         0.0
242    1468.0
Name: Gross Wages, dtype: float64
345    1512.6
Name: Gross Wages, dtype: float64
75    126.14
Name: Gross Wages, dtype: float64
123    0.0
Name: Gross Wages, dtype: float64
2       0.00
396    92.48
397    89.76
398    89.76
Name: Gross Wages, dtype: float64
173    584.17
Name: Gross Wages, dtype: float64
9    2864.5
Name: Gross Wages, dtype: float64
47    1728.0
Name: Gross Wages, dtype: float64
113     880.0
335    2070.0
Name: Gross Wages, dtype: float64
3         0.0000
178    3333.3300
399     563.0400
400     546.4800
401     546.4800
402     625.6000
403     607.2000
404     607.2000
405     405.9600
406     394.0200
407     394.0200
408    1174.5232
409    1139.9784
410    1139.9784
411     583.8480
412     566.6760
413     566.6760
414     854.4200
415     829.2900
416     829.2900
417     625.6000
418     607.2000
419     607.2000
420     706.2480
421     685.4760
422     685.4760
423     580.6350
424     563.5575
425     563.5575
426     462.4000
427     448.8000
428     448.8000
429     544.0000
430     528.0000
431     528.0000
432     480.4574
433     466.3263
434     466.3263
435     417.6050
436     405.3225
437     405.3225
Name: Gross Wages, dtype: float64
466    680.00
467    660.00
468    660.00
469    784.72
470    761.64
471    761.64
Name: Gross Wages, dtype: float64
94     11458.33
339    13864.58
Name: Gross Wages, dtype: float64
21     3125.00
83      481.00
85     5121.79
110    2525.00
150     150.00
199    2625.00
216    2833.33
323    2583.33
366    7291.67
387    3750.00
Name: Gross Wages, dtype: float64
87     4538.46
89     1701.00
135    3520.83
183    2340.00
222    3333.33
226    1695.52
299    3125.00
309      85.52
Name: Gross Wages, dtype: float64
43     2694.50
121    5478.49
167    3320.00
274    3192.31
Name: Gross Wages, dtype: float64
11    3026.0
Name: Gross Wages, dtype: float64
5       2291.67
15      2833.33
19      6357.82
30      8841.84
37      6866.67
61      6866.67
67      7916.67
124     7293.00
133     3250.00
148     3541.67
156     7083.33
158     3362.38
174     2363.53
176     2166.67
179     1562.50
185     2025.67
193     2872.00
195     3142.92
201     6866.67
203     8300.17
228     7345.08
238     2640.67
240     2166.67
248     3563.17
252     9708.33
258     2166.67
272     4066.75
287     2692.31
295     2833.33
297     2803.67
301     2500.00
317     7083.33
351     9979.10
362    25833.33
381     6232.82
389     4538.46
Name: Gross Wages, dtype: float64
373    11458.33
Name: Gross Wages, dtype: float64
55     2617.0
76     2062.0
130    2069.0
205    2294.5
260    1616.8
264    2184.0
305    1778.4
Name: Gross Wages, dtype: float64
13     2270.00
27     1675.00
35     1982.50
39     2349.00
53     2008.50
65     1872.00
98     2216.00
100    2735.25
104    2374.00
117    2067.00
126    2055.50
128    1908.96
144    1977.50
146    1997.00
152    2148.38
160    1305.00
189    1938.00
191    2270.60
224    2211.00
254    2205.75
279    2080.00
281    1887.50
285    1937.00
289    2010.00
291    1981.25
327    1885.00
329    1904.50
341    2040.00
347    2075.00
364     981.50
370    2341.50
377    2465.00
Name: Gross Wages, dtype: float64
82     6875.00
108    5609.38
349    3750.00
383    2604.17
Name: Gross Wages, dtype: float64
214    3458.33
331    4250.00
Name: Gross Wages, dtype: float64
438    471.2500
439    471.2500
440    471.2500
441    471.2500
442    460.0000
443    460.0000
444    460.0000
445    460.0000
446    410.0000
447    410.0000
448    410.0000
449    410.0000
450    391.2500
451    391.2500
452    391.2500
453    391.2500
454    331.7225
455    331.7225
456    331.7225
457    331.7225
458    312.1500
459    312.1500
460    312.1500
461    312.1500
Name: Gross Wages, dtype: float64
140    1000.0
Name: Gross Wages, dtype: float64
49    8333.33
Name: Gross Wages, dtype: float64
17     2107.5
162    3862.5
Name: Gross Wages, dtype: float64
32    3041.67
Name: Gross Wages, dtype: float64
476    1000.0
477    1000.0
Name: Gross Wages, dtype: float64
25     2034.00
45     1986.50
71     2050.00
137    2080.00
142    1874.50
164    1945.00
171    2039.00
209    2049.75
250    5125.00
313    2362.50
319    2325.00
325    2458.33
353    1684.75
368    1616.80
Name: Gross Wages, dtype: float64
63    2025.41
Name: Gross Wages, dtype: float64
218    1717.2
Name: Gross Wages, dtype: float64
315    3333.33
462     650.00
463     650.00
464     650.00
465     650.00
Name: Gross Wages, dtype: float64
478    2025.0
479    2025.0
480    2025.0
481    2025.0
482     900.0
Name: Gross Wages, dtype: float64
102    3333.33
230    3708.33
321    1108.68
360    2173.00
375    7291.67
379    4112.50
Name: Gross Wages, dtype: float64
7      2.365000e+03
51     0.000000e+00
59     3.553330e+03
69     2.925000e+03
78     2.080000e+03
80     3.124000e+03
91     2.080000e+03
106    2.240000e+03
112    2.785000e+03
119    2.800000e+03
154    2.965000e+03
169    2.486600e+03
181    2.413000e+03
187    3.168000e+03
211    9.094947e-13
220    3.360000e+03
232    2.351000e+03
234    2.800000e+03
244    2.205000e+03
268    2.520000e+03
283    2.304000e+03
293    2.800000e+03
303    2.205000e+03
307    3.029840e+03
333    2.560000e+03
337    2.622400e+03
343    2.840000e+03
385    2.800000e+03
Name: Gross Wages, dtype: float64
23     3333.33
57      785.60
73     3280.00
96     1452.53
115    1578.90
139    2413.14
197    2137.50
207    2861.46
246    2662.50
256    1656.00
311    1084.00
355    3333.33
358    3403.85
Name: Gross Wages, dtype: float64
41     2064.20
236     993.60
262    1838.60
270    1805.00
277    1691.72
Name: Gross Wages, dtype: float64
266    2045.0000
472     989.5825
473     989.5825
474     989.5825
475     989.5825
Name: Gross Wages, dtype: float64
371    1082.0
Name: Gross Wages, dtype: float64