In [2]:
import pandas as pd
pd.Series(dtype=int)
print(pd)

<module 'pandas' from 'C:\\Users\\zorinan.kasilag\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\pandas\\__init__.py'>

In [31]:
import pandas as pd
technologies = ({
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30day', '40days' ,'35days', '40days', '60days', '50days', '55days']
              })
df = pd.DataFrame(technologies)
print(df)
t = 0
for row in df.itertuples(index = False):
    print(row[1])
    t = row[1] + t
    print(t)
    #print (getattr(row, "Fee"), getattr(row, "Courses"))
    #for i in row.item()

   Courses    Fee Duration
0    Spark  20000    30day
1  PySpark  25000   40days
2   Hadoop  26000   35days
3   Python  22000   40days
4   pandas  24000   60days
5   Oracle  21000   50days
6     Java  22000   55days
20000
20000
25000
45000
26000
71000
22000
93000
24000
117000
21000
138000
22000
160000

In [38]:
#importing pandas as pd
import pandas as pd
#creating DataFrame
df=pd.DataFrame({"Name":["Navya","Vindya"],"Age":[25,24],"Education":["M.Tech","Ph.d"]},index=['index_1', 'index_2'])
print("-----------The DataFrame is-------")
print(df)
print("---------Iterate over DataFrame rows---------")
for rows in df.itertuples():
    print(rows.Age)

-----------The DataFrame is-------
           Name  Age Education
index_1   Navya   25    M.Tech
index_2  Vindya   24      Ph.d
---------Iterate over DataFrame rows---------
25
24

In [46]:
a = [1,2,3,4]
n = 5
b = [0] * n
t = 20

b[0] = b[0] + t

print(b)

[20, 0, 0, 0, 0]