In [2]:
import pandas as pd
import datetime as dt

df = pd.read_excel("008 Payroll 08082022-98072022 for report.xlsx")
#print(df.head)

df['Pay End Date'] = pd.to_datetime(df['Pay End Date']).dt.date
print(df.head)
"""
df_group.ngroups
df.groupby("Product_Category").size()
df.groupby("Product_Category").first()
df.groupby("Product_Category").nth(3)
df_group.get_group('Entertainment')
df_group.get_group('Home')
#
for name_of_group, contents_of_group in df_group:
    print(name_of_group)
    print(contents_of_group)
"""

<bound method NDFrame.head of                Employee Name  Employee ID SUB_DEPARTMENT  DEPT CODE LOCATION  \
0           Bell,Allie Marie      1792388      Operating        120      NYC
1           Bell,Allie Marie      1792388      Operating        120      NYC
2        Demnitz,Dana Nicole     10200130       Clinical        120      NYC
3        Demnitz,Dana Nicole     10200130       Clinical        120      NYC
4              Fischer,Catha     10164248             MD        110      NYC
5              Fischer,Catha     10164248             MD        110      NYC
6              Hancock,Kolbe     10140164             MD        110      NYC
7              Hancock,Kolbe     10140164             MD        110      NYC
8     Hermino,Danielle Marie     10422509            ASC        120      NYC
9     Hermino,Danielle Marie     10422509            ASC        120      NYC
10            Kitahara,Akiko      2324534            ASC        120      NYC
11            Kitahara,Akiko      2324534            ASC        120      NYC
12             Klatsky,Peter      1770296             MD        110      NYC
13             Klatsky,Peter      1770296             MD        110      NYC
14               Lee,Theresa     10200158      Operating        120      NYC
15               Lee,Theresa     10200158      Operating        120      NYC
16            Mercedes,Julia     10276975       Clinical        120      NYC
17            Mercedes,Julia     10276975       Clinical        120      NYC
18        Napolitano,Kristen     10276969       Clinical        120      NYC
19        Napolitano,Kristen     10276969       Clinical        120      NYC
20             Sanchez,Ester     10276965            ASC        120      NYC
21             Sanchez,Ester     10276965            ASC        120      NYC
22  Sensenig,Margaret Louise     10200142       Clinical        120      NYC
23  Sensenig,Margaret Louise     10200142       Clinical        120      NYC
24           Vodounon,Raissa     10237486       Clinical        120      NYC
25           Vodounon,Raissa     10237486       Clinical        120      NYC
26       Yoder,Nicole Denise     10229259             MD        110      NYC
27       Yoder,Nicole Denise     10229259             MD        110      NYC

                   Business Title  Department Long Descr Location Long Descr  \
0   Clinical Integration & QA Mgr  Unassigned Department          Spring NYC
1   Clinical Integration & QA Mgr  Unassigned Department          Spring NYC
2           IVF Nurse Coordinator          Medical Staff          Spring NYC
3           IVF Nurse Coordinator          Medical Staff          Spring NYC
4                Medical Director             Physicians          Spring NYC
5                Medical Director             Physicians          Spring NYC
6                       Physician             Physicians          Spring NYC
7                       Physician             Physicians          Spring NYC
8           IVF Nurse Coordinator          Medical Staff          Spring NYC
9           IVF Nurse Coordinator          Medical Staff          Spring NYC
10                 Lead ASC Nurse          Medical Staff          Spring NYC
11                 Lead ASC Nurse          Medical Staff          Spring NYC
12        Chief Executive Officer             Physicians          Spring NYC
13        Chief Executive Officer             Physicians          Spring NYC
14                  Nurse Manager             Operations          Spring NYC
15                  Nurse Manager             Operations          Spring NYC
16          IVF Nurse Coordinator          Medical Staff          Spring NYC
17          IVF Nurse Coordinator          Medical Staff          Spring NYC
18          IVF Nurse Coordinator          Medical Staff          Spring NYC
19          IVF Nurse Coordinator          Medical Staff          Spring NYC
20                      ASC Nurse          Medical Staff          Spring NYC
21                      ASC Nurse          Medical Staff          Spring NYC
22          IVF Nurse Coordinator          Medical Staff          Spring NYC
23          IVF Nurse Coordinator          Medical Staff          Spring NYC
24          IVF Nurse Coordinator          Medical Staff          Spring NYC
25          IVF Nurse Coordinator          Medical Staff          Spring NYC
26                      Physician             Physicians          Spring NYC
27                      Physician             Physicians          Spring NYC

   Pay Frequency Descr Long  Invoice Number  ... Short Term Disability  \
0               Semimonthly         5926811  ...                 24.76
1               Semimonthly         5945655  ...                 24.76
2               Semimonthly         5926811  ...                 14.26
3               Semimonthly         5945655  ...                 14.26
4               Semimonthly         5926811  ...                 28.51
5               Semimonthly         5945655  ...                 28.51
6               Semimonthly         5926811  ...                 28.51
7               Semimonthly         5945655  ...                 28.51
8               Semimonthly         5926811  ...                 14.57
9               Semimonthly         5945655  ...                 14.57
10              Semimonthly         5926811  ...                 21.69
11              Semimonthly         5945655  ...                 21.69
12              Semimonthly         5926811  ...                 28.51
13              Semimonthly         5945655  ...                 28.51
14              Semimonthly         5926811  ...                 26.13
15              Semimonthly         5945655  ...                 26.13
16              Semimonthly         5926811  ...                 14.73
17              Semimonthly         5945655  ...                 14.73
18              Semimonthly         5926811  ...                 17.42
19              Semimonthly         5945655  ...                 17.42
20              Semimonthly         5926811  ...                 14.26
21              Semimonthly         5945655  ...                 14.26
22              Semimonthly         5926811  ...                 16.63
23              Semimonthly         5945655  ...                 16.63
24              Semimonthly         5926811  ...                 15.05
25              Semimonthly         5945655  ...                 15.05
26              Semimonthly         5926811  ...                 28.51
27              Semimonthly         5945655  ...                 28.51

   Life & AD/D multiple of salary  BENEFITS wo 401K  \
0                             NaN            407.99
1                             NaN            407.99
2                             NaN             44.84
3                             NaN             44.84
4                           44.55            106.20
5                           44.55            106.20
6                           44.55           1613.51
7                           44.55           1613.51
8                             NaN             29.18
9                             NaN             29.18
10                            NaN             42.92
11                            NaN             42.92
12                          44.55           1758.00
13                          44.55           1758.00
14                            NaN             94.58
15                            NaN             94.58
16                            NaN            374.33
17                            NaN            374.33
18                            NaN            395.27
19                            NaN            395.27
20                            NaN            378.18
21                            NaN            378.18
22                            NaN            403.52
23                            NaN            403.52
24                            NaN            380.45
25                            NaN            380.45
26                          40.10           1759.59
27                          40.10           1759.59

    Reimbursement-Non Taxable  401k/Roth-ER  Workers Comp Fee - Totals  \
0                         NaN           NaN                      73.67
1                         NaN           NaN                      73.67
2                         NaN        156.88                      34.67
3                         NaN        156.88                      34.67
4                         NaN           NaN                     313.08
5                         NaN           NaN                     313.08
6                         NaN        501.71                     110.50
7                         NaN        501.71                     110.50
8                         NaN           NaN                      34.99
9                         NaN           NaN                      34.99
10                        NaN           NaN                      51.55
11                        NaN           NaN                      51.55
12                        NaN           NaN                     459.05
13                        NaN           NaN                     459.05
14                        NaN        284.13                      62.79
15                        NaN        284.13                      62.79
16                        NaN        155.00                      34.26
17                        NaN        155.00                      34.26
18                        NaN        183.33                      40.52
19                        NaN        183.33                      40.52
20                        NaN        150.00                      33.15
21                        NaN        150.00                      33.15
22                        NaN           NaN                       0.99
23                        NaN           NaN                       0.99
24                        NaN        159.65                      35.28
25                        NaN        159.65                      35.28
26                        NaN        501.53                     110.50
27                        NaN        168.20                      36.83

    Return Deduction  Service Fee  TOTAL FEES  Total Client Charges
0                  0           53          53               9509.20
1                  0           53          53               9015.79
2                  0           53          53               4524.22
3                  0           53          53               4524.23
4                  0           53          53              36548.67
5                  0           53          53              36548.67
6                  0           53          53              15018.80
7                  0           53          53              15023.81
8                  0           53          53               4654.79
9                  0           53          53               4629.99
10                 0           53          53               6440.95
11                 0           53          53               6440.98
12                 0           53          53              55127.90
13                 0           53          53              55127.91
14                 0           53          53               8145.60
15                 0           53          53               8157.61
16                 0           53          53               4783.21
17                 0           53          53               4793.59
18                 0           53          53               5611.12
19                 0           53          53               5611.10
20                 0           53          53               4646.21
21                 0           53          53               4658.19
22                 0           53          53                570.28
23                 0           53          53                570.30
24                 0           53          53               4932.72
25                 0           53          53               4932.73
26                 0           53          53              15169.78
27                 0           53          53               6280.27

[28 rows x 93 columns]>

'\ndf_group.ngroups\ndf.groupby("Product_Category").size()\ndf.groupby("Product_Category").first()\ndf.groupby("Product_Category").nth(3)\ndf_group.get_group(\'Entertainment\')\ndf_group.get_group(\'Home\')\n#\nfor name_of_group, contents_of_group in df_group:\n    print(name_of_group)\n    print(contents_of_group)\n'